.girando{animation: girar 10s linear infinite;}

@keyframes girar{
    from{transform: rotate(0)}
    to{transform: rotate(360deg)}
}

@keyframes aparecer{
    from{opacity: 0; transform: translateY(20px)}
    to{opacity: 1; transform: translateY(0)}
}

@keyframes piscar{
    0%{transform: rotate(35deg)}
    50%{transform: rotate(0deg)}
}

.girassolc{
    position: relative;
    top: 67%;
    left: 14%;
    height: 200px;
    width: 200px;
    animation: aparecer 4s;
}
