.pokemonfoto{height: 170px;
width: 200px}

.fone{height: 180px;
width: 180px;
cursor: pointer;}

.aki{height: 170px;
width: 200px;}

.girassol{height: 200px;
width: 200px;
animation: piscar 2s infinite steps(1)}