.janela{background-color: #d9d3c4;
border: 2px solid  #6b6b6b;
box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.484);
font-size: 16px;
position: absolute}

.janela .titlebar{background: linear-gradient(90deg, #6b7fb0, #a9b8e0);
padding: 4px 8px;
color: #fff;}

.janela .titlebar p{margin: 0}

.janela .content{padding-left: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 20px}

.janela .content h1{font-size: 50px}

.principal{top: 20%;
left: 20%;
height: 70%;
width: 35%;
animation: aparecer 1s;
z-index: 0}

.menu{top: 20%;
left: 59%;
height: 70%;
width: 20%;
animation: aparecer 2s;}

.musica{top: 10%;
left: 6%;
height: 30%;
width: 15%;
animation: aparecer 2s;
z-index: 1;}

.fotoaki{top: 60%;
left: 75%;
height: 30%;
width: 15%;
animation: aparecer 7s;
z-index: 1;}

.pokemon{height: 30%;
width: 15%;
left: 80%;
top: 16%;
animation: aparecer 3s}

.clique{height: 50px;
width: 150px;
background-color: #d9d3c4;
border: 3px outset #ffffff;
border-right-color: #000000;
border-bottom-color: #000000;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
margin: 10px;
color: #000000;
text-decoration: none}

.clique:active{border: 3px outset #6b6b6b;
border-right-color: #ffffff;
border-bottom-color: #ffffff}

.polaroid{height: 200px;
width: 200px;
background-color: #ffffff;
padding: 10px 10px 34px;
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
transform: rotate(-3deg);}

.polaroidc{top: 90%;}