html, body{overflow: hidden}

body{background-image: url("imagens/wallpapers/foto.png");
height: 100vh;
width: 100vw;
background-size: cover;}

.janela{background-color: #d9d3c4;
border: 2px solid  #6b6b6b;
box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.484);
font-family: 'VT323', monospace;
font-size: 16px;
position: fixed}

.janela .titlebar{background: linear-gradient(90deg, #6b7fb0, #a9b8e0);
padding: 4px 8px;
color: #fff;}

.janela .titlebar p{margin: 0}

.janela .content{padding-left: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column}

.principal{top: 20%;
left: 25%;
height: 500px;
width: 800px;
animation: aparecer 1s;
z-index: 0}

.musica{top: 10%;
left: 6%;
height: 250px;
width: 250px;
animation: aparecer 2s;
z-index: 1;}

.fotoaki{top: 60%;
left: 75%;
height: 250px;
width: 250px;
animation: aparecer 7s;
z-index: 1;}


.aki{height: 210px;
width: 230px;}

.fone{height: 180px;
width: 180px;
cursor: pointer;}

.girando{animation: girar 10s linear infinite;}

.pokemonfoto{height: 210px;
width: 230px}

.pokemon{height: 250px;
width: 250px;
left: 80%;
top: 16%;
animation: aparecer 3s}

@keyframes girar{
    from{transform: rotate(0)}
    to{transform: rotate(360deg)}
}

@keyframes aparecer{
    from{opacity: 0; transform: translateY(20px)}
    to{opacity: 1; transform: translateY(0)}
}